.App {
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #d256b9, #4f4fa9);
  }
  
  body {
    padding: 0;
    margin: 0;
  }